.task {
  display:flex;
  width:100%;
  margin:auto;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}.Remove_button{
  background: none;
  border: transparent;
  font-weight: bolder;

}
.Remove_button:hover{
  color: red;
  font-size: large;
  background-color: black;
  border: 0px;
  border-radius: 50%;
}